@import "../../styles/colors";
@import "../../styles/mixins";

.create-container{
      height: 100%;
      background-color: var(--form-bg);
      @include addBorder;


      form{
            position: relative;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            height: 100%;
                h6{
            font-weight: 400;
    }


    label{
      row-gap: 5px;
      width: 100%;
      font-size: 13px;

      input,textarea,select{
        padding: 2px 4px;
        width: 100%;
        background-color: var(--nav-bg-color);
        border: none;
        //@include addBorder;
        border-radius:3px;
      }
      textarea{
        height: 70px;
        resize: none;
      }

      .answer{
        input{
          width: 55%;
          &::placeholder{
            color:var(--font-color)
          }
        }

        div{
          padding-left: 4px;
          width: 45%;
          button{
            width: 50%;
            font-size: 10px;
            padding: 3px 2px;
            height: 100%;
            color: var(--font-color-btn);
            @include addBorder;
          }

          button:nth-child(1){
            background-color: var(--choose-color-btn);
          }
          button:nth-child(2){
            background-color: var(--add-to-list-bg);
          }

        }

      }
    }

      }

}




.error{
    input , textarea, select{
      border: 1px solid red !important;
    }

    .color-container{
      border:1px solid red !important;
    }

  }


.select-container{
  width: 100%;


}


.color-container{
  max-height: 170px;
  width: 100%;
  overflow: hidden;
  background-color: var(--nav-bg-color);
}

.btn-submit-container{
  padding-top: 15px;
  .btn-submit{
    //position:absolute;
    color: var(--form-btn-color);
    background-color: var(--footer-bg-color);
    border: none;
    padding: 6px 20px;
    font-size: 13px;
    font-weight: bold;
    //@include addBorder;
    border-radius:3px;

  }


}


