:root {
  --nav-bg-color: #d5d5d5;
  --body-bg-color: #b0b0b0;
  --footer-bg-color: #9d9d9d;
  --font-color:black;
  --card-font-color:white;
  --border-color:#09c9c9;
  --card-text-bg:rgba(0, 0, 0, 0.42);
  --add-card-border:#63ba09;
  --choose-color-btn:#ffd24d;
  --add-to-list-bg:#dddddd;
  --font-color-btn:rgba(90,84,69,255);
  --form-btn-color:#47bde5;
  --form-bg: #858585;
}

.dark-mode {
  --card-font-color:black !important;
  --nav-bg-color:#4e4e4e !important;
  --body-bg-color:#333333 !important;
  --footer-bg-color:#232323 !important;
  --font-color:#e0e0e0 !important;
  --border-color:#09c9c9 !important;
  --card-text-bg:rgba(0, 0, 0, 0.42) !important;
  --add-card-border:#63ba09 !important;
  --choose-color-btn: #ffd24d !important;
  --add-to-list-bg:#dddddd !important;
  --font-color-btn:rgba(90,84,69,255) !important;
  --form-btn-color:#47bde5 !important;
  --form-bg:#282828 !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav .nav-container {
  position: relative;
}
nav .nav-container .navbar-desktop {
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  align-items: center;
  background-color: var(--nav-bg-color);
  color: var(--font-color);
  position: relative;
}
nav .nav-container .navbar-desktop ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-left: 90px;
  margin: 0;
}
nav .nav-container .navbar-desktop ul li a {
  color: var(--font-color);
  font-weight: 600;
}
nav .nav-container .settings {
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
nav .nav-container .settings .controls {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
nav .nav-container .settings .controls .icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  background-color: var(--body-bg-color);
  border-radius: 5px;
  cursor: pointer;
}
nav .nav-container .settings .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
nav .nav-container .settings .profile_title {
  -moz-column-gap: 4px;
       column-gap: 4px;
}
nav .nav-container .settings .profile_title div h6, nav .nav-container .settings .profile_title div p {
  text-align: end;
}
nav .nav-container .settings .profile_title div p {
  font-size: 0.8rem;
}
nav .nav-container .settings .profile_pic {
  width: 38px;
  aspect-ratio: 1;
  border-radius: 100px;
  display: block;
  overflow: hidden;
  border: 2px solid var(--border-color);
}
nav .nav-container .settings .profile_pic img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .nav-container .navbar-mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--nav-bg-color);
  transition: 0.2s ease-in-out !important;
  overflow: hidden;
  color: var(--font-color);
}
nav .nav-container .navbar-mobile a {
  color: var(--font-color);
}

.isOpen {
  padding: 20px 30px !important;
  height: -moz-max-content !important;
  height: max-content !important;
}/*# sourceMappingURL=style.css.map */