@import "../../styles/colors";
@import "../../styles/mixins";

.add-card{
  max-height: 200px;
  //min-height: 200px;
  height: 100%;
  border-radius: 7px;
  border: 1px solid var(--add-card-border);
  background-color: var(--nav-bg-color);
  cursor: pointer;

  @include extra-small-mobile{
    height: 200px;
  }
}
